# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# VS Code / Visual Studio
.vs/
.vscode/

# Environment variables
.env

# Logs
*.log
